<mat-toolbar color="primary" class="responsive-toolbar">
  <button mat-icon-button class="menu-icon" *ngIf="isSmallScreen" (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Candidates</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/add-candidate">
    Add Candidate
  </button>
</mat-toolbar>

<div class="candidate-container">
  <mat-card class="candidate-card" *ngFor="let candidate of candidates">
    <mat-card-header>
      <mat-card-title>{{ candidate?.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="candidate?.imageUrl" alt="Candidate"/>
    <p> {{ candidate?.percentage=="NaN"?0:candidate?.percentage }}%</p>
    <mat-card-actions>
      <button mat-button (click)="openDescriptionDialog(candidate?.description)">
        View Slogan
      </button>
      <button mat-button color="primary" (click)="vote(candidate?.documentId)"  >
        Vote
      </button>
    </mat-card-actions>
  </mat-card>
</div>
